.carousel-caption-custom {
    right: 15%;
    bottom: 1.25rem;
    left: 15%;
    padding-top: 8%;
    padding-bottom: 1.25rem;
    color: var(--text-color);
    text-align: center;
    height: 100%;

    position: absolute;
    top: -10%;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--color-text-light);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 5vh;

}

.carousel-caption-custom::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(18, 24, 26, 0.35) 0%, rgba(18, 24, 26, 0.85) 100%);
    z-index: 0;
  }

  .carousel-caption-custom h2,
.carousel-caption-custom p {
  position: relative;
  z-index: 1; /* Coloca el texto encima del fondo oscuro */
}

.carousel-item {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}


#subtitle{

  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
  color: var(--color-accent);
}

#titleMain{

  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0.6rem;
}


.img-filter-custom::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: inherit; /* Hereda el fondo del contenedor */
  background-size: cover;
  background-position: center;
  filter: grayscale(1); /* Aplica solo al fondo */
  z-index: -1;
}

@media (max-width: 768px) {
 #titleMain {
  letter-spacing: 0.3rem;
  /* font-size: 0.4rem !important; */
  font-weight: bold;
  margin-bottom : -2%;
  
  /* text-shadow: 0 0 10px whitesmoke; */


  }

  .carousel-caption-custom {
    top: 4%;
  }


}