.tarjeta-custom{

    width: 30%;
    height: 100% !important;
    background-color:  var(--primary-color) !important;
    color: var(--secondary-color) !important;
    
}

.card-img-top{
    padding: 1rem;
}

.card-body-custom{
height: 80% !important;

}
.card-text{
    font-size: small;
}

.title-cutom{
    color: var(--primary-color) !important;
    text-underline-offset: 10px;
}


@media (max-width: 768px) {
    .tarjeta-custom {
       width: 90vw;
       height: 40vh;
       
    }
  }