.tarjeta-custom{

    width: 30%;
    height: 100% !important;
    
}

.card-img-top{
    padding: 1rem;
}

.card-body-custom{
height: 80% !important;

}
.card-text{
    font-size: small;
}



@media (max-width: 768px) {
    .tarjeta-custom {
       width: 90vw;
       height: 40vh;
       
    }
  }