@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    width: 100%;
    overflow-x: hidden;
}

#root{

    height: 100vh;
    width: 100vw;
  
        --primary-color: #B2675C;
        --secondary-color: #F3D1C6;
        --tertiary-color: #E6A9A9;
        --fourth-color: #5A3E36;
        --rose-color: #ff7d7d;
 }


.main-container .content-container  {

    height: 90vh;
    width: 100vw;

    background-color: rgb(190, 188, 188);
}


.color-text-custom {

    color: var(--secondary-color) ;
}
