@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
    width: 100%;
    overflow-x: hidden;
}

#root{

    height: 100vh;
    width: 100vw;

    --color-bg: #F6F8F7;
    --color-bg-alt: #FFFFFF;
    --color-dark: #12181A;
    --color-dark-alt: #1C2426;
    --color-accent: #00B37E;
    --color-accent-hover: #009463;
    --color-text-dark: #12181A;
    --color-text-light: #F6F8F7;
    --color-muted: #5B6B67;
 }


.main-container .content-container  {

    height: 90vh;
    width: 100vw;

    background-color: var(--color-bg);
}


.color-text-custom {

    color: var(--color-text-light) ;
}
